.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
  right: 600px;
}

#bulbasaur {
  /* your code here */
  position: relative;
}

#charmander {
  /* your code here */
  position: relative;
  top: 40px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 85px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 160px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 270px;
}
